body {

    background-color: rgb(227, 255, 255);
    font-family: 'Arima Madurai', cursive;
    font-size: larger;
    color:darkslateblue;
    margin: 100px;
    width: auto;
}

h1 {
    border-bottom: 1px solid black;
    color: black;
    font-size: 16px;
}
hr {
    color: black;
}
a {
    color:violet;
    text-decoration: none;
}

a:visited {
    color:slateblue;
    text-decoration: none;
}

a:hover {
    color:lime;
    text-decoration: underline;
}

figure {

    width: 40%;
    text-align: center;
    border: thin black solid;
    margin: 0.5em;
    padding: 0.5em;
}

