/* Part of exercise 3: Creating css file */


body {

    background-color: rgb(227, 255, 255);
    font-family: 'Arima Madurai', cursive;
    font-size: larger;
    color:darkslateblue;
    margin-left: 150px;
    margin-right: 150px;
    width: auto;
}

h1 {
    border-bottom: 1px solid darkslateblue;;
    color: rgb(241, 97, 164);
    font-size: 16px;
}


li a {

    display: block;
    color:slateblue;

   
   
    
}
a {
    color:slateblue;
    text-decoration: none;
}

a:visited {
    color:violet;
    text-decoration: none;
}

a:hover {
    color:rgb(37, 248, 125);
    text-decoration: underline;
}

figure {

    width: 40%;
    text-align: center;
    border: thin black solid;
    margin: 0.5em;
    padding: 0.5em;
}

